[submodule "external/boxer"]
	path = external/boxer
	url = https://github.com/aaronmjacobs/Boxer.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/jsoncons"]
	path = external/jsoncons
	url = https://github.com/danielaparker/jsoncons
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
